@inherits LayoutComponentBase

<PageTitle>Portfolio</PageTitle>

<div class="header">
    <div class="sidebar">
        <NavMenu/>
    </div>
</div>
<div class="page">

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>