<nav class="navbar navbar-expand navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand title" href="#"><p class="title">Annika Veksø</p> 
        <p class="subtitle">3D artist</p>
        <p class="small">I'm a 3D artist who specialize in making enviromental 
          models. I have experience in Blender and Magica Voxel and have done some work in Unity.</p></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup"  >
        <div class="navbar-nav navbar-color">
          <a class="nav-link" href="#">PORTFOLIO</a>
          <a class="nav-link" href="/resume">RESUME</a>

        </div>
      </div>
    </div>
  </nav>

