@page "/resume"

<PageTitle>Resume</PageTitle>


<div class="row">
    <div class="col-md-7">
        <h1>Resume</h1>
        <p class="header">ABOUT</p>
        <p>I am a 3D-artist specialising in environment and non-organic object creation with experience in Blender.
            I have about 4 years of experiences in working with Blender and have worked on a couple of different indie
            games as modeller and User Interface designer.</p>
        <p >I have also dabbled a little with level design for some small projects.</p>

        <p class="header">SKILLS AND ABILITIES</p>
        <p class="bullets">• UV editing</p>
        <p class="bullets">• Texturing</p>
        <p class="bullets">• Modeling</p>
        <p class="bullets">• Basic animation</p>
        <p class="bullets">• Blender</p>

            <p class="header">EXPERIENCE</p>
        <p class="subheader">Game Design </p>
        <p class="dates">October, 2018</p>
        <p>I held a game design course over a weekend at Hjørring Ungdomskole, where I taught how to make 3D models in Blender</p>
        <p class="subheader">Ducktopia </p>
        <p class="dates">Sebtember, 2020</p>
        <p>I'm part of the team developing the game Ductopia that is on Steam in Early Access. I have made all the models and design the UI.</p>
    </div>
    <div class="col-md-5 text-center border ">
        <img class="profile" src="assets/images/Profile.jpg" />
        <p class="header">KEY POINTS</p>
        <p class="bullets">• 3D modeller - Enviromental design </p>
        <p class="bullets">• Using Blender</p>
        <p class="bullets">• 4 years of experience</p>
        <p class="bullets">• Good working moral - Punctual, focused, listening</p>
        <p class="bullets">• Used to groupwork</p>
        <p class="header">CONTACT</p>
        <p class="bold"> Email</p><p>Anniika-xb@live.dk</p>
        <p class="bold"> Phone</p><p>+45 27435290</p>

    </div>
</div>